body{background-color: #f2f2f2;}
.test-header{background-image: url("../img/bg.fw.png");background-size: 100%;}
.test-button{color:#fff;}
h1{color:#fff;}
a{text-decoration: none}
.test-a{margin: 10px auto 0;width: 260px;}
.test-a>a{width: 130px;height:28px;display: inline-block;
    text-align:center;font-size: 16px;line-height: 24px;}
.test-a :first-child{border: 1px solid #f2f2f2;border-radius: 5px 0 0 5px;
    background-color:#663399;color:#fff;border-right: none;}
.test-a :last-child{border: 1px solid #f2f2f2;border-radius: 0 5px 5px 0;
    background-color:#fff;color:#663399;border-left:none;}
.series{width: 275px;margin: 15px auto 0;}
.series>ul>li:first-child>button{margin-top: -4px;color: #b5b5b5;}
input.test-ip{background-color: #f2f2f2;font-size: 18px;
    font-weight: 100;display: inline-block;}
.series .test-lf>li{float: left;margin:20px 30px 0 0;}
.series .test-lf>li.lf-oth{margin-right: 0;}
.series .test-lf>li>button{border:2px solid #d9d9d9;font-size: 20px;
    min-width: 70px;min-height: 61px;background-color:#fff;}
.series .test-lf>li.lf-last>button{min-width: 169px;border: none;
    min-height: 61px;background: #663399;color: #fff;
    font-weight: 100;}
.scan{display: none;}