<ion-view hide-tabs="true">
		<style>
			body{
				font-family: "微软雅黑";
			}
			.top{
				background: url(img/xiangqing/bg.fw.png) no-repeat;
				background-size: 100%;
			}
			.top .button.button-light.button-clear {
			    color: white;
			}
			.top h2{
				color: white;
			}
			.content .item{
				border: none;
			}
			.content .item span{
				font-size: 12px;
			}
			.content .item h2{
				font-size: 14px;
				margin-bottom: 10px;
			}
			.content .item p{
				color: black;
				margin-top: 10px;
				font-size: 12px;
				text-indent: 2rem;
				width: 100%;
			}
			.content .item img{
				width: 100%;
				height: 100%;
				margin-top: 10px;
			}
		</style>
	
		<!--头部-->
		<ion-header-bar class="top">
			<button class="button button-clear button-light" ng-click="fanhui()">
				<i class="icon ion-ios-arrow-left"></i>
			</button>
			<h2 class="title">详情</h2>
			<button class="button button-clear button-light" ng-click="modalShow()">
				<i class="icon ion-android-share-alt"></i>
			</button>
		</ion-header-bar>
		<!--content-->
		<ion-content class="content">
			<ion-list>
				<ion-item >
					<h2>怎样在KTV里运用K歌技巧</h2>
					<span>2015-08-13 08:05:00</span>
					<p>要想唱一首歌曲，首先唱歌的人一定要做到声情并
						茂。一是<br/>“声”：要用动作去唱歌，什么动
						作在唱歌时运用会发出更<br/>好的效果。二是
						“情”：唱歌时所要表达的一种情感，怎呀<br/>
						带动观众(被认作是不是投入有没有一种音乐独特的气质。)
						
					</p>
					<img src="img/xiangqing/xiqingtu.fw.png"/>
					<p>本期小编推荐南区地铁口潜力盘，虽然新进入的加上
						目前现<br/>有的,看起来南区楼盘众多，但占据
						地铁口优势就只有那么几<br/>个，卖一套少一套，赶紧
						来看看吧。正商城是位于二环旁的<br/>综合楼盘，地
						理位置优越;近地铁5号线、BRT快速公交等<br/>，交通十分便利
					</p>
				</ion-item>
			</ion-list>
		</ion-content>
		
	
</ion-view>