.goodsWait-top{
    background:url("../../img/pimg/Top.fw.png") no-repeat;
    background-size: 100%;
}
.goodsWait-top h1{
    color:#fff;
}
.goodsWait-top>button{
    color:#fff;
}
.goodsWait-box{
    background-color: #f2f2f2;
}
.goodsWait-box .list{
    margin-bottom:10px;
}
.goodsWait-box .item{
    padding:0px;
}
.goodsWait-box .row{
    color: #999;
    padding: 0;
}
.goodsWait-box .col-25{
    padding: 10px;
    text-align: center;
}
.goodsWait-box .col-25.active{
    color: #663399;
    border-bottom: 1px solid #663399;
}
.goodsWait-box .goodsWait-first{
    padding:10px 10px 10px 15px;
}
.goodsWait-box .goodsWait-first img{
    width:6%;
    display: block;
    float: left;
    clear: both;
}
.goodsWait-box .goodsWait-first p{
    color: #f00;
    font-size:15px;
}
.goodsWait-box .goodsWait-first span{
    color: #999;
    padding-left:5px;
    font-size: 14px;
    display: block;
    float: left;
}
.goodsWait-box .goodsWait-two{
    padding-top: 8px;
    padding-left: 106px;
}
.goodsWait-box .goodsWait-two h2{
    padding-top:5px;
}
.goodsWait-box .goodsWait-two span{
    display: block;
    float: left;
    font-size:30px;
    padding-top:20px;
    color: #663399;
}
.goodsWait-box .goodsWait-two p{
    margin-top: 20px;
    margin-right: 10px;
    float: right;
}
.goodsWait-box .goodsWait-two span>i{
    font-size:18px;
    padding-top:5px;
}
.goodsWait-box .goodsWait-three p{
    padding: 5px;
    font-size: 16px;
    color: #000;
}
.goodsWait-box .goodsWait-three span{
    font-size:20px;
    color: #663399;
}
.goodsWait-box .goodsWait-three span>i{
    font-size:16px;
}
.goodsWait-box .goodsWait-last span{
    padding: 5px;
}
.goodsWait-box .goodsWait-last .goodsWait-btn1{
    color: #999;
    border:1px solid #999;
    background-color:#fff;
    border-radius: 5px;
    padding:5px 8px;
}
.goodsWait-box .goodsWait-last .goodsWait-btn2{
    color: #fff;
    border:1px solid #639;
    background-color:#639;
    border-radius: 5px;
    padding:5px 8px;
    margin: 0 5px;
}